hr{
    border: "none";
    margin: "0 0 10px 0";  
}
.profile-container{
height: 250;
width: 250px;
display: flex;
align-items: center;
flex-direction: column;
padding: 10px;
}
.profile-img{
    height: 70px;
    width: 70px;
}
.date-container{
    width: fit-content;
    height: fit-content;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm{
    text-align: center
}

.loginBtn{
    margin: 70px;
}

a{
    text-decoration: none;
    color: steelblue;
  }

  hr{
    border: none;
    margin: 0 0 10px 0;
  }
  .homePage{
      background-color: rgba(229, 226, 226, 0.705);

  }
  .homePage-unauthenticated{
      display: flex;
      justify-content: center;
      justify-self: center;
      padding: 100px;
  }